* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  font-size: 62.5%;
  --bg-color: hsl(218, 17%, 62%);
  --bg-scnd-color: hsl(233, 100%, 97%);
  --bg-h1-color: hsl(275, 18%, 79%);
  --bg-h2-color: hsl(312, 91%, 96%);

  --h2-color: hsl(232, 17%, 35%);
  --txt-color: hsl(274, 84%, 12%);
}
body {
  background-color: var(--bg-scnd-color);
  font-family: 'Staatliches', sans-serif;
}
.page {
  max-width: 100vw;
  margin: 0 auto;
}
header {
  text-align: center;
  background-color: var(--bg-color);
  width: 100vw;
  height: 27.9rem;
}
header svg {
  margin: 3rem 0 2.3rem;
  transition: transform .3s;
}
header svg:hover {
  transform: scale(1.1);
}
header div {
  padding: 8px;
  background-color: var(--bg-h1-color); 
  height: 4.9rem;
  justify-items: center;
}
header h1 {
  color: #FFFFFF;
  font-size: 4rem;
  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
header p {
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  text-align: center;
  max-width: 27.5rem;
  margin: 0 auto;
}
main {
  max-width: 32rem;
  display: grid;
  margin: 4.3rem auto 6rem;
}
.card-wrapper {
  display: grid;
  gap: 3.2rem;
}
main p {
  color: var(--txt-color);
  font-family: 'Palanquin', sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5rem;
  margin-bottom: 3.2rem;
}
main .card {
  position: relative;
  margin: 0 auto;
  animation: fromBottom .5s .2s backwards;
  transition: all .25s;
}
main .card:hover {
  transform: scale(1.05);
}
.card img {
  max-width: 32rem;
  border-radius: 2rem;
}
.description {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  color: var(--h2-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.05em;
  background-color: var(--bg-h2-color);
  border-radius: 2rem;
  padding: 0 2.4rem;
  animation: fromTop .5s .4s backwards;
}
footer {
  display: none;
  font-family: 'Open Sans', sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 auto;
  font-size: 14px;
  line-height: 28px;  
  color: var(--h2-color);
}
footer a {
  text-decoration: none;
  color: var(--h2-color);
  font-weight: 700;
  transition: all .2s;
}
footer a:hover {
  color: var(--bg-h1-color);
}
@media (min-width: 750px) {
  body {
    background-color: #FFFFFF;
  }
  .page {
    display: grid;
    grid-template-columns: 37.7rem 1fr;
    grid-template-rows: 1fr 78px;
  }
  header {
    width: 37.7rem;
    min-height: 100vh;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  main p {
    display: none;
  }
  header div {
    margin-bottom: 3.2rem;
    height: 7rem;
    padding: 2rem 0;
  }
  header p {
    display: block;
  }
  footer {
    display: block;
  }
}
@media (min-width: 1200px) {
  header {
    position: static;
  }
  main {
    max-width: 72.4rem;
    height: 53.2rem;
    margin: 6.4rem auto;
  }
  .card-wrapper {
    max-width: 72.4rem;
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-areas: "A B C"
    "D B F"
    "D E F";
  }
  .card {
    object-fit: fill;
    width: 22rem;
    height: fit-content;
  }
  .card:hover:nth-child(1) .description {
    transform: scale(1.1);
  }
  .card:hover:nth-child(1) {
    transform: translateY(1.5rem);
  }
  .card:hover:nth-child(2) {
    transform: translateY(1.5rem);
  }
  .card:hover:nth-child(3) {
    transform: translateY(1.5rem);
  }
  .card:hover:nth-child(4) {
    transform: translateY(-1.5rem);
  }
  .card:hover:nth-child(5) {
    transform: translateY(-1.5rem);
  }
  .card:hover:nth-child(6) {
    transform: translateY(-1.5rem);
  }
  main .card:nth-child(1) {
    grid-area: A;
    animation: fromTop .3s .4s backwards;
  }
  main .card:nth-child(2) {
    grid-area: B;
    animation: fromBottom .3s .7s backwards;
  }
  main .card:nth-child(3) {
    grid-area: C;
    animation: fromTop .3s .3s backwards;
  }
  main .card:nth-child(4) {
    grid-area: D;
    animation: fromBottom .3s .6s backwards;
  }
  main .card:nth-child(5) {
    grid-area: E;
    animation: fromTop .3s .2s backwards;
  }
  main .card:nth-child(6) {
    animation: fromBottom .3s .5s backwards;
    grid-area: F;
  }
  .card:nth-child(1) .description {
    animation: fromBottom .3s .5s backwards;
  }
  .card:nth-child(2) .description {
    animation: fromBottom .3s .8s backwards;
  }
  .card:nth-child(3) .description {
    animation: fromBottom .3s .4s backwards;
  }
  .card:nth-child(4) .description {
    bottom: 1.6rem;
    top: auto;
    animation: fromTop .3s .7s backwards;
  }
  .card:nth-child(5) .description {
    bottom: 1.6rem;
    top: auto;
    animation: fromTop .3s .3s backwards;
    
  }
  .card:nth-child(6) .description {
    bottom: 1.6rem;
    top: auto;
    animation: fromTop .3s .6s backwards;

  }
  .card img {
    width: 100%;
    height: 100%;
  }
} 
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
